/*Header*/
.main-header {
    -fx-background-image: url("../images/header.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-pref-height: 150px;
    -fx-max-height: 150px;
}
#appLogo{
    -fx-fit-height: 150px;
    -fx-fit-width: 150px;
}

/* Category */
.category-button {
    -fx-background-color: #FF8C00;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8px 15px;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}

/*Restaurant Card*/
.restaurantBox{
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-padding: 0;

    /* Gives a small shadow behind the cards */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 4);
}
.restaurantBox:hover{
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
    -fx-cursor: hand;
}
.restaurantBox .label{
    -fx-padding: 10;
    -fx-font-family: "Agency FB";
    -fx-font-size: 16;
}

/*Restaurant Page*/
.restaurantPage-Header{
    -fx-font-family: "Agency FB";
    -fx-font-size: 32px;
    -fx-text-fill: #1a1a1a;
    -fx-padding: 0 20 10 0;
}
.restaurantPage-Info{
    -fx-font-family: "Verdana";
    -fx-font-size: 12px;
    -fx-text-fill: #1a1a1a;
    -fx-padding: 8 10 7 5;
}
.restaurantPage-Icon{
    -fx-font-family: "Agency FB";
    -fx-font-size: 12px;
    -fx-text-fill: #333333;
    -fx-padding: 8 0 10 0;
}

/*Booking Form*/
.bookingForm-Header{
    -fx-font-family: "Agency FB";
    -fx-font-size: 20px;
    -fx-padding: 0 0 10 0;
}
.bookingForm-Textfield{
    -fx-font-family: "Verdana";
    -fx-spacing: 10;
}
.bookingForm-Labels .label{
    -fx-font-family: "Verdana";
    -fx-padding: 15 0 10 0;
}
.bookingForm-Choice {
    -fx-alignment: TOP_RIGHT;
    -fx-padding: 10 0 10 0;
    -fx-spacing: 15;
}
.bookingForm-ChoiceBox {
    -fx-pref-width: 100px;
    -fx-max-width: 100px;
}
.bookingForm-Button{
    -fx-alignment: center;
    -fx-background-color: #4cbb17;
    -fx-text-fill: #1a1a1a;
}



