.category-button {
    -fx-padding: 10 20;  /* padding runt texten */
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 20;  /* rundade hörn */
    -fx-border-color: #C16D3C;
    -fx-border-radius: 20;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #D88746;
    -fx-alignment: center;
    -fx-font-family: "Agency FB";
}

.category-button:hover {
    -fx-background-color: #e0e0e0;  /* bakgrundsfärg vid hover */
    -fx-border-color: #C16D3C;  /* kantfärg vid hover */
}

.category-button:pressed {
    -fx-background-color: #d0d0d0;
    -fx-border-color: #C16D3C;
}

.search-field {
    -fx-background-radius: 25;
    -fx-padding: 10 15;
    -fx-font-size: 14px;
}

/* Bakgrund för hela kategori-sektionen */
#categoryContainer {
    -fx-background-color: WHITE;
}